// текстовый блок под заголовком
.contact_content--mod {
  margin-top: 20px;
  max-width: 490px;

}

.contact_info--mod {
  width: initial;
  padding: 0;

  &-two {
    width: 100%;
    max-width: 500px;

    p {
      margin-top: 0;
    }
  }

}

.contact_info {
  a {
    color: #3F9F45;
    text-decoration: underline;
  }
}


// новые кнопки
.button,
.contact_info .button {
  background: #3F9F45;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    background-color: #226039;
  }

  &--two {
    background: #FFB800;
    color: #242222;

    &:hover {
      background-color: #B58200;
      color: #ffffff;
    }
  }
}

// новые текстовые блоки
.contact_info__text {
  margin-bottom: 34px;
}

// обёртка для кнопок
.button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column;

  .button {
    width: 100%;
    max-width: 100%;
  }
}

// ссылка в форме
.custom-form-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 3;
  color: #3F9F45;
  text-decoration: none;
}

.cf_nav--flex {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  .button {
    width: calc(50% - 8px);
  }
}

// костыли
.politic--mod {
  &.error {
    color: #242222;
  }
}

.contact_content--reset {
  align-items: flex-start;

}

.contact_content--solo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.copy-mod {
  width: 48.7%;

  small {
    font-size: 16px;
    line-height: 24px;
    color: #9B9A9A;

    span {
      color: #242222;
    }
  }


}

.in_2_inner--full {
  width: 100%;
  max-width: 100%;

  .contact_form .form-group .politic--mod {
    position: initial !important;

  }

}

.in_2--solo {
  flex-wrap: wrap;
  gap: 16px 0;

}

.politic--mod {
  font-size: 16px;
  line-height: 1;
  color: #242222;
}

.in_2_inner--small {
  width: 33%;
  flex-grow: 0;
}

.in_2_inner--hangry {
  flex-grow: 2;
}

.form-control:focus {
  border-color: #3F9F45 !important;
  background: #FFF;
}

.contact_form .form-group label:not(.error).active,
.form-group .custom-label.active {
  font-size: 10px;
  top: 5px;
  color: #929191;
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 46px;
    margin-bottom: 16px;
    padding-top: 5px;

    span {
      background: #3F9F45;
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
}

.cust-select {
  width: 100%;
  padding: 16px 24px;
  background-color: #F0EFEF;
  border: 1px solid #F0EFEF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

@media (max-width: 1250px) {
  .cf_nav--flex {
    .button {
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .cf_nav--flex {
    .button {
      width: calc(50% - 8px);
    }
  }

  .copy-mod {
    width: auto;
  }
}

@media (max-width: 620px) {
  .cf_nav--flex {
    .button {
      width: 100%;
      margin-top: 0 !important;
    }
  }
}


@media (max-width: 460px) {
  .contact_content--solo {
    .contact_form {
      margin-top: 26px;
      width: 100%;
    }
  }
}
