// текстовый блок под заголовком
.contact_content--mod {
  margin-top: 20px;
  max-width: 490px;

}

.contact_info--mod {
  width: initial;
  padding: 0;

  &-two {
    width: 100%;
    max-width: 500px;

    p {
      margin-top: 0;
    }
  }

}

.contact_info {
  a {
    color: #3F9F45;
    text-decoration: underline;
  }
}


// новые кнопки
.button,
.contact_info .button {
  background: #3F9F45;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    background-color: #226039;
  }

  &--two {
    background: #FFB800;
    color: #242222;

    &:hover {
      background-color: #B58200;
      color: #ffffff;
    }
  }
}

// новые текстовые блоки
.contact_info__text {
  margin-bottom: 34px;
}

// обёртка для кнопок
.button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column;

  .button {
    width: 100%;
    max-width: 100%;
  }
}

// ссылка в форме
.custom-form-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 3;
  color: #3F9F45;
  text-decoration: none;
}

.cf_nav--flex {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  .button {
    width: calc(50% - 8px);
  }
}

// костыли
.politic--mod {
  &.error {
    color: #242222;
  }
}

.contact_content--reset {
  align-items: flex-start;

}

.contact_content--solo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.copy-mod {
  width: 48.7%;

  small {
    font-size: 16px;
    line-height: 24px;
    color: #9B9A9A;

    span {
      color: #242222;
    }
  }


}

.in_2_inner--full {
  width: 100%;
  max-width: 100%;

  .contact_form .form-group .politic--mod {
    position: initial !important;

  }

}

.in_2--solo {
  flex-wrap: wrap;
  gap: 16px 0;

}

.politic--mod {
  font-size: 16px;
  line-height: 1;
  color: #242222;
}

.in_2_inner--small {
  width: 33%;
  flex-grow: 0;
}

.in_2_inner--hangry {
  flex-grow: 2;
}

.form-control:focus {
  border-color: #3F9F45 !important;
  background: #FFF;
}

.contact_form .form-group label:not(.error).active,
.form-group .custom-label.active {
  font-size: 10px;
  top: 5px;
  color: #929191;
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 46px;
    margin-bottom: 16px;
    padding-top: 5px;

    span {
      background: #3F9F45;
      font-family: inherit;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
}

input {
  box-sizing: border-box;
}

.cust-select {
  width: 100%;
  padding: 16px 24px;
  background-color: #F0EFEF;
  border: 1px solid #F0EFEF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-size: 0.85em auto;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 9L17 1' stroke='%233F9F45' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center right 10px;
  transition: .5s opacity;
}

select:focus,
select:active {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9858 10.0283L9.01423 2.00003L0.98594 9.97163' stroke='%233F9F45' stroke-width='2'/%3E%3C/svg%3E%0A");

}

textarea {
  width: 100%;
  padding: 16px 24px;
  background-color: #F0EFEF;
  border: 1px solid #F0EFEF;
  border-radius: 6px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: inherit;
  resize: none;
  min-height: 240px;
  font-size: 14px;
  line-height: 1.43;
  color: #666565;
}

/* скроет иконку стрелки в IE */
select::-ms-expand {
  display: none;
}

.cf_nav--full {
  flex-direction: column;
  .button {
    width: 100%;
  }
}

.custom-dwnload-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .button__label {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button--three {
  background-color: transparent;
  border:1px solid #3F9F45;
  color: #3F9F45;

  &:hover,
  &:focus {
    color: #ffffff;
    border-color:#3F9F45;
    background-color: #3F9F45;
  }
}

@media (max-width: 1250px) {
  .cf_nav--flex {
    .button {
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .cf_nav--flex {
    .button {
      width: calc(50% - 8px);
    }
  }

  .copy-mod {
    width: auto;
  }

  .cf_nav--full {
    flex-direction: row;
    .button {
      width: calc(50% - 8px);
    }
  }
}

@media (max-width: 620px) {
  .cf_nav--flex {
    .button {
      width: 100%;
      margin-top: 0 !important;
    }
  }
}


@media (max-width: 460px) {
  .contact_content--solo {
    .contact_form {
      margin-top: 26px;
      width: 100%;
    }
  }
}
